<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Thank you for your order, <%= order.name %>!</h1>
    <h3>Order Summary</h3>

    <ul>
      <li>Name: <%= order.name %></li>
      <li>Email: <%= order.email %></li>
      <li>Flavor: <%= order.flavors %></li>
      <li>Cone:<%= order.cone%></li>
      <li>
        <%= Array.isArray(order.toppings) ? order.toppings.join(', ') :
        order.toppings %>
      </li>
      <li><%= order.comment %></li>
    </ul>
  </body>
</html>
